{% extends 'base.html' %}

{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block homepage %}
<style>
  .bold {
    font-weight: bold;
    font-size: 16px;
  }
</style>
<div class="wrapper">
                {% for article in articles %}
                <div class="article">
                <div class="title_article">
                    {{ article.title }}
                </div>
                <div class="news_date">
                    {{ article.date }}
                </div>
                <div class="university_name">
                    {{ article.name }}
                </div>
                <div class="text_article">
                    {{ article.text }}
                </div>
                <div class="article_image">
                        <img src="{{ url_for('article_image', article_id=article.id) }}" alt="Article Image">
                </div>
                <div class="empty_block"></div>
                </div>
                {% endfor %}


</div>
<div class="show_more">
    <button id="load">Показать больше</button>
</div>

{% endblock %}